@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/css/Preface/renshaw1.css" rel="stylesheet" type="text/css">
    <title>Информация по технике безопасности</title>
    <script SRC="~/js/Preface/terms.js"></script>
    <script SRC="~/js/Preface/issue.js"></script>
    <script SRC="~/js/Preface/copyright.js"></script>
    <script SRC="~/js/Preface/footer.js"></script>
</head>

<body>

<h2>Информация по технике безопасности</h2>

<h3><a>Лазерная безопасность</a>: не смотрите прямо в источник лазерного излучения</h3>

<table height="2298" spacing="0">
    <tr>
        <td height="168">
            <img HEIGHT="131" WIDTH="150" src="~/images/Preface/laserwrn.gif" alt="Не удается загрузить картинку">
        </td>
        <td height="168">
            <p class="TD">
                Согласно нормам EN 60825-1 и нормам США.
                <div class="tooltip">ANSI
                    <span class="tooltiptext">Американский национальный институт стандартов</span>
                </div> 2136, лазеры Renishaw ML10 относятся к лазерам класса II,
                и при их использовании не нужно носить защитные очки (в нормальных условиях пользователь моргает и смотрит в другом направлении,
                прежде чем произойдет вспышка). Травма глаз). Не смотрите прямо в лазерный луч и не направляйте его в глаза другому человеку.
                Безопасно наблюдать диффузно отраженный луч.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="25">
            <h3>
                <a>Электробезопасность</a>
            </h3>
        </td>
    </tr>
    <tr>
        <td height="679">
            <img height="250" src="~/images/Preface/elec-warn.gif" alt="Не удается загрузить картинку" width="285">
        </td>
        <td height="679">
            <p class="TD">
                Устройства Renishaw для калибровки с питанием от сети поставляются с 3-жильным сетевым кабелем. Кабели без адаптации и имеющие адаптацию с
                <div class="tooltip">
                    UK
                    <span class="tooltiptext">Великобритания</span>
                </div> 13
                <div class="tooltip">
                    A
                    <span class="tooltiptext">Ампер</span>
                </div> вилки имеют три провода с цветовой маркировкой по европейским стандартам:
            </p>
            <p>коричневый = фаза; синий = нуль; зеленый желтый = земля</p>
            <p>
                Адаптерные шнуры с 3-контактными вилками США и европейскими вилками Schuko представляют собой незаменяемые литые проводники.
                Во всех случаях заземляющий проводник должен быть надлежащим образом заземлен с точки зрения питания.
                В противном случае операторы могут получить поражение электрическим током при сетевом напряжении,
                если в изделии или оборудовании, к которому оно подключено, произойдет электрический сбой.
            </p>
            <p>
                Изделия с зависимым питанием защищены только предохранителями в линии под напряжением.
                Необходимо следить за тем, чтобы изделие было правильно подключено к сети (т. е. фаза-фаза, нейтраль-нейтраль, земля-земля).
                Если невозможно гарантировать выполнение этой меры,
                то необходимо принять дополнительные меры безопасности (например, использование устройств защитного отключения).
            </p>
            <p>
                Характеристики предохранителей указаны на изделии.
                Всегда заменяйте перегоревшие предохранители предохранителями того же типа и с такими же характеристиками.
            </p>
            <p>
                Продукты Renishaw с вспомогательным двигателем не содержат деталей, обслуживаемых пользователем.
                Не разбирайте никакие части корпуса; Это может подвергнуть вас опасности поражения электрическим током от сетевого напряжения или,
                в некоторых случаях, от высокого напряжения.
                Изделия, признанные дефектными, должны быть возвращены компании Renishaw для ремонта.
            </p>
            <p>
                Большинству калибровочных изделий Renishaw с обратным питанием назначается напряжение сети,
                соответствующее напряжению в стране, в которой эти изделия продаются, или в соответствии с особыми требованиями заказчика.
                Соответствующее натяжение указано на изделии, степень допуска натяжения составляет ±10%, если не указано иное.
                При неправильном подключении к входному напряжению или если источник питания выходит за установленные допустимые параметры,
                продукт может выйти из строя или выйти из строя.
            </p>
        </td>
    </tr>
    <tr>
        <td height="149">
            <img HEIGHT="56" WIDTH="54" src="~/images/Preface/240volts.gif" alt="Не удается загрузить картинку">
        </td>
        <td height="149">
            <p class="TD">
                Некоторые продукты питания, зависящие от компании Renishaw (например, индексатор RX10),
                настраиваются с помощью селекторного переключателя напряжения. Перед использованием таких изделий проверьте правильность настройки натяжения.
                Уровень напряжения можно изменить на требуемый, повернув переключатель в положение (обычно с помощью отвертки с плоской головкой).
                Не изменяйте настройку, когда устройство подключено к источнику питания.
            </p>
        </td>
    </tr>
    <tr>
        <td height="171">
            <img height="124" src="~/images/Preface/computer.gif" alt="Не удается загрузить картинку" width="150">
        </td>
        <td height="171">
            <p class="TD">
                Калибровочные изделия Renishaw, предназначенные для управления и управления с компьютера,
                должны использоваться с компьютером, сертифицированным по стандарту EN60950 (или аналогичному стандарту).
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="25" width="100%">
            <h3>
                <a>Механическая безопасность</a>
            </h3>
        </td>
    </tr>
    <tr>
        <td height="542">
            <img HEIGHT="112" WIDTH="114" src="~/images/Preface/stopbut.gif" alt="Не удается загрузить картинку">
        </td>
        <td height="542">
            <p class="TD">
                Изделия, содержащие движущиеся части с автономным питанием (например, индексатор RX10),
                снабжены выключателем или кнопкой аварийного останова.
                При нажатии на этот переключатель движущиеся части больше не будут получать питание.
                Символ слева обозначает кнопку аварийной остановки.
            </p>
            <p>
                Всякий раз, когда вы устанавливаете или используете изделия Renishaw для калибровки на станке,
                помните о защемлении или раздавливании, которые могут возникнуть в зависимости от того, как и где установлено оборудование.
                Это предупреждение особенно важно для индексатора RX10 и для установки оптики системы лазерной калибровки.
            </p>
            <p>
                Если необходимо удалить или отключить какие-либо защитные устройства или функции безопасности на тестируемой или калибруемой машине,
                оператор несет ответственность за принятие соответствующих альтернативных мер безопасности в соответствии с нормами и
                инструкциями по эксплуатации изготовителя машины.
            </p>
            <p>
                Все измерения требуют, чтобы тестируемая или калибруемая машина перемещалась вдоль (или вокруг) интересующих осей.
                Это можно сделать вручную или предварительно запрограммировав машину.
                В некоторых случаях программное обеспечение Renishaw передает на станок программу обработки деталей и/или параметры коррекции ошибок.
                Во всех случаях машиной должен управлять ответственный и опытный человек.
                Пользователь несет ответственность за проверку любой программы обработки детали или поправочных коэффициентов на низкой скорости,
                их немедленный ввод в контроллер и готовность нажать кнопку аварийного останова на станке в случае необходимости.
            </p>
        </td>
    </tr>
    <tr>
        <td height="66">
            <img HEIGHT="52" WIDTH="78" src="~/images/Preface/indxwarn.gif" alt="Не удается загрузить картинку">
        </td>
        <td height="66">
            <p class="TD">При использовании индексатора RX10 следите за тем,
            чтобы ваши руки не попадали между движущимися частями индексатора и машиной, на которой он установлен.
            Индексатор закроется с трудом, более чем на 40°
            <div class="tooltip">
                кг.
                <span class="tooltiptext">Килограмм</span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="22">
            <h3><a></a>Обслуживание</h3>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="53">
            <p class="TD">Продукты с зависимым питанием ЗАПРЕЩАЕТСЯ очищать водой или любыми жидкостями.
        </td>
    </tr>
    <tr>
        <td colspan="2" height="25">
            <h3>Дополнительно</h3>
        </td>
    </tr>
    <tr>
        <td height="187">
            <img height="144" src="~/images/Preface/heavy.jpg" alt="Не удается загрузить картинку" width="150">
        </td>
        <td height="187">
            <p class="TD">
                Ящики, используемые для транспортировки лазерной системы Renishaw,
                очень тяжелые в загруженном состоянии.
                Вес большого «суперчемодана» при наполнении может значительно превышать 40 кг.
                По этой причине предусмотрена тележка, чтобы ее не приходилось нести одному человеку.
                Необходимо соблюдать осторожность при подъеме, загрузке и опускании чемоданов.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="25" width="100%">
            <h3>Инструкции пользователя</h3>
        </td>
    </tr>
    <tr>
        <td height="133">
            <img HEIGHT="131" WIDTH="150" alt="Не удается загрузить картинку"
                 src="~/images/Preface/warnsign.gif">
        </td>
        <td height="133">
            <p class="TD">Подробные инструкции по безопасному использованию продуктов Renishaw для калибровки
            содержатся в инструкциях пользователя, включая данную брошюру по технике безопасности.
            Их можно распечатать заранее или включить в программное обеспечение.
            <div class="tooltip">CD-ROM<span class="tooltiptext">компакт-диск только для чтения</span></div>
        </td>
    </tr>
</table>
<hr>

<script>Footer("Информация по технике безопасности");</script>

</body>
</html>